<div id="jumb2" class="jumbotron"> 
  <br><br><br><br>
<br><br><br>
</div>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Church Name</th>
      <th>Address</th>
      <th>Phone</th>
    
   <% if user_signed_in? && current_user.admin? %>
      <th colspan="2"></th>
    <% end %>

    </tr>
  </thead>

  <tbody>
    <% @church.each do |church| %>
      <tr>
        <td><%= link_to church.name, church %></td>
        <td><%= church.address %></td>
        <td><%= church.phone %></td>
        

      <% if user_signed_in? && current_user.admin? %>
        <td><%= link_to 'Edit', edit_church_path(church), class: "btn btn-link" %></td> 
        <td><%= link_to 'Destroy', church, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Church', new_church_path, class: "btn btn-link" %><br>
<% end %>
