
<div id="show_row" class="row">
	
	<div class="col-xs-4 col-sm-4 col-md-3">
		<%= image_tag @church.image_url %> 
		
		
		<h3>
		 <strong><%= @church.name %></strong>
		 <div class="star-rating" data-score= <%= @avg_rating %> ></div> 
		 </h3>
		 <p><%= "#{@reviews.length} reviews" %></p>
		


		<p>
		 <strong>Resident Pastor:</strong>
		  <%= @church.resident_Pastor %>
		</p>

		<p>
		 
		  <%= @church.address %>
		</p>

		<p>
		
		  <%= @church.phone %>
		</p>

		<%= link_to "Write a Review", new_church_review_path(@church), class: "btn btn-primary" %>

		<% if user_signed_in? && current_user.admin? %>
			<%= link_to 'Edit', edit_church_path(@church), class: "btn btn-link" %> |
			<%= link_to 'Back', churches_path, class: "btn btn-link" %>
		<% end %>

	</div>

	<div class="col-xs-8 col-sm-8 col-md-9">
		
		<% if @reviews.blank? %>
			<h3>No reviews yet. Be the first to write one!</h3>
		<% else %>

		<table class="table">

			<thead>
				<tr>
					<th class="col-xs-1 col-sm-2 col-md-2"></th>
					<th class="col-xs-10 col-sm-10 col-md-10"></th>
				</tr>
			</thead>
			<tbody>
				<% @reviews.each do |review| %>
				<tr>
					<td>
						<h4>
							
						</h4>
						<p><%= review.created_at.strftime("%-m/%-d/%y") %></p>
					</td>
					<td>
						<div class="star-rating" data-score= <%= review.rating %> ></div>
		    			<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>

		    			<% if user_signed_in? %>
		    			   <% if (review.user == current_user) || (current_user.admin?) %>
		    			   	 <%= link_to "Edit", edit_church_review_path(@church, review) %> | 
		    			   	 <%= link_to "Delete", church_review_path(@church, review), method: :delete %>
		    			   	<% end %>
		    			  <% end %>
					</td>
				</tr>
				<% end %>	

			</tbody>
		</table>
	  <% end %>
	</div>

</div>



<script>
	$('.star-rating').raty({ 
		path: 'https://s3.amazonaws.com/lci-demo/stars',
		readOnly: true,
		 score: function() {
      		return $(this).attr('data-score');
      } 
	});
</script>